
@import url(//db.onlinewebfonts.com/c/d091f3206c618342e183bce6e68aaa37?family=Mortal+Kombat+1);

body{
  font-family:'Mortal Kombat 1', Courier, monospace;
}
.kombatient{
  height: 70vh;
}
.kombatient-container{
  display: flex;
  flex-direction: row;
}

.App{
  background-color: rgb(37, 39, 46);
}
.focus-level{
  font-size: xx-large;
  color: rgb(250, 220, 52);
}
.fillerBar{
    width: 100%;
    background-color: yellow;
    border-radius: 'inherit';
    text-align: 'right';
  
}
.containerBar{
  
    width : 20vh;
    height : 80%;
    border: 2vh;
    border-style: solid;
    border-color: white;
    

}